[submodule "Pulpifier"]
	path = Pulpifier
	url = https://github.com/JohnQPulp/Pulpifier
[submodule "VisualPulps/CupOfGold"]
	path = VisualPulps/CupOfGold
	url = https://github.com/JohnQPulp/CupOfGold
[submodule "CreativeCommonsContent"]
	path = CreativeCommonsContent
	url = https://github.com/JohnQPulp/CreativeCommonsContent.git
[submodule "VisualPulps/TheThirtyNineSteps"]
	path = VisualPulps/TheThirtyNineSteps
	url = https://github.com/JohnQPulp/TheThirtyNineSteps
