[submodule "Pulpifier"]
	path = Pulpifier
	url = git@github.com:JohnQPulp/Pulpifier.git
[submodule "VisualPulps/CupOfGold"]
	path = VisualPulps/CupOfGold
	url = git@github.com:JohnQPulp/CupOfGold.git
