html, body {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f0ddb6;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
  --ed: none;
  --ned: block;
  --edi: none;
  --nedi: inline;
}
.ed {
  display: var(--ed) !important;
}
.ned {
  display: var(--ned) !important; /* okily dokily */
}
.edi {
  display: var(--edi) !important;
}
.nedi {
  display: var(--nedi) !important; /* okily dokily */
}
header > div {
  display: flex;
  justify-content: center;
  height: min(225px, 100vw / 2);
  align-items: flex-end;
  padding-top: 5px;
}
header > div > a {
  height: 100%;
  padding-bottom: 5px;
  box-sizing: border-box;
}
#logo {
  max-height: 100%;
  width: auto;
  padding: 5px;
  border: 3px double black;
  box-sizing: border-box;
  background-color: #f8efd4;
  max-width: calc(100vw - 10px);
}
.authors-banner {
  height: 100%;
  width: auto;
}
#logo:hover {
  border: 3px solid black;
}
.bar {
  display: flex;
  justify-content: center;
  background-color: #f8efd4;
  border-top: 3px double black;
  border-bottom: 3px double black;
}
nav {
  gap: 5px 40px;
  font-size: clamp(1em, 6vw, 2em);
  flex-wrap: wrap;
  padding: 5px 10px;
}
nav a {
  font-family: serif;
  text-decoration: none;
  color: black;
}
nav a:hover {
  text-decoration: underline;
}
hr {
  border: 0;
  border-top: 1px solid black !important;
}
.center {
  text-align: center;
}
.title {
  width: 100%;
  text-align: center;
  margin: 0;
}
@media (width <= 800px) {
  .ssvisible {
    display: none !important;
  }
}
@media (width <= 1234px) {
  .smargin {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .svisible {
    display: none !important;
  }
  #content {
    width: 98% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.right {
  margin-left: auto;
}
#footer {
  margin-bottom: 1em;
  margin-top: 20px;
  padding: 12px 10px;
  text-align: center;
  gap: 8px 0;
  flex-direction: column;
}
#footer p {
  margin: 0;
}
#content {
  width: 90vw;
  margin: 0 5vw;
  flex-grow: 1;
  overflow-x: auto;
}
.posttitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.25em;
}
.blogwrapper {
  display: flex;
  gap: 5px;
}
.blogwrapper > div {
  flex-grow: 1;
}
#b-left, #b-right {
  background-size: 100%, 36%;
  background-repeat: space, space;
}
#blog {
  max-width: 45em;
  margin: 0 auto 20px;
  font-size: 1.1em;
  line-height: 1.6;
}
#blog h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}
#blog img {
  max-width: 100%;
  max-height: 50vh;
  margin: 0 auto;
  display: block;
}
#blog blockquote {
  white-space: pre-wrap;
  border-left: 4px solid #a08a6d;
  padding-left: 15px;
  margin: 15px 0 15px 25px;
}
#blog h4 {
  margin-top: 50px;
}
#bloghead {
  margin-bottom: 0;
}
#blogsubhead {
  margin-top: 0;
}
code, pre {
  font-size: 0.9em;
  border-radius: 6px;
  padding: .2em .4em;
  background-color: #f8eed3;
  white-space: pre-wrap;
}
.pulpcard {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
  margin: 1em 0 40px;
}
.pulpcard > h3 {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 1.25em;
  padding-bottom: 2px;
}
.pulpcard > div {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.pulpcard > div > div {
  min-width: calc(max(30%, 20em));
  padding-bottom: 200px;
  padding-right: 5px;
  position: relative;
}
.pulpcard > div > div > h3 {
  text-align: center;
}
.pulpcard > div > div > img {
  width: 100%;
  position: absolute;
}
.pulpcard > div > img {
  min-width: calc(max(69%, 32em));
  object-fit: cover;
  object-position: left center;
}
.pulpcard p.small {
  font-size: 0.9em;
}
.pulpcard p.blurb {
  line-height: 1.6;
}
.pulpcard p.center {
  text-align: center;
}
.upper {
  font-variant: small-caps;
}