html, body {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f0ddb6;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  text-align: center;
}

.title {
  width: 100vw;
  text-align: center;
  margin: 0;
}

.fadebar {
  width: 90vw;
  background: linear-gradient(to right, transparent, #f8efd4f0 10%, #f8efd4f0 90%, transparent 100%);
  padding: 0 5vw;
  display: flex;
}

#nav {

}

#footer {
  margin-bottom: 1em;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

#nav > h2 {
  padding: 0 1em;
}

#nav > h2 > a {
  text-decoration: none;
  color: inherit;
}

#nav > h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#nav > h2:last-child {
  margin-left: auto;
}

#content {
  width: 90vw;
  padding: 0 5vw;
  flex-grow: 1;
  overflow-x: auto;
}

.posttitle {
  text-align: center;
  margin-bottom: 40px;
}

#blog {
  width: 100%;
  max-width: 45em;
  margin: 0 auto 20px;
  font-size: 1.1em;
  line-height: 1.6;
}

#blog h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

#blog img {
  max-width: 100%;
  max-height: 50vh;
  margin: 0 auto;
  display: block;
}

#blog blockquote {
  white-space: pre-wrap;
  border-left: 4px solid #a08a6d;
  padding-left: 15px;
  margin: 35px 0 15px 25px;
}

#blog h4 {
  margin-top: 50px;
}

#blog p {

}

#bloghead {
  margin-bottom: 0;
}

#blogsubhead {
  margin-top: 0;
}

.pulpcard {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
  min-width: 750px;
  margin: 1em 0 40px;
}

.pulpcard > h3 {
  width: 100%;
  text-align: center;
  margin: 0;
}

.pulpcard > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pulpcard > div > div {
  width: 30%;
  position: relative;
}

.pulpcard > div > div > h3 {
  text-align: center;
}

.pulpcard > div > div > img {
  width: 100%;
  position: absolute;
}

.pulpcard > div > img {
  width: 69%;
}

.pulpcard p.small {
  font-size: 0.9em;
}

.pulpcard p.blurb {
  line-height: 1.6;
}

.pulpcard p.center {
  text-align: center;
}