#vn-header {
  min-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#vn-header > * {
  text-align: center;
}
#vn-header > p {
  flex-shrink: 0;
  margin: 0 2px;
}
#vn-header-mid {
  margin: 0 3px 5px;
}
#vn-header-mid > * {
  margin: 7px 0;
}
@media (orientation: portrait) or (max-width: 999px) {
  #vn-header {
    flex-wrap: wrap;
  }
  #vn-header-mid {
    order: -1;
    flex-basis: 100%;
  }
  #vn-header > p {
    margin-bottom: 5px;
  }
}
main {
  display: flex;
  flex-direction: column-reverse;
  --vwUnit: min(max(0.8vw, min(6px, 0.98vw)), 1.6vh);
  --vhUnit: min(max(0.45vw, min(3.375px, 0.55125vw)), 0.9vh);
}
#appwrapper {
  display: flex;
  justify-content: center;
}
#appwrapper:not(.fullscreen) > #app {
  overflow: hidden;
  border-radius: 12px;
}
#appwrapper.fullscreen {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
:fullscreen {
  scrollbar-width: none;
}
:fullscreen::-webkit-scrollbar {
  display: none;
}
.button-bar {
  width: 96%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  margin: 5px auto 0;
  gap: 5px;
  font-size: 1.25em;
  flex-wrap: wrap;
  max-width: 1000px;
}
#progress {
  align-self: center;
  width: calc(98 * var(--vwUnit));
  accent-color: #453310;
}
.button-bar > * {
  font-size: 1em;
}
.button-bar > input[type='range'] {
  flex-grow: 1;
  accent-color: #453310;
}
.button-bar > .resetButton::after {
  content: 'Reset to Default';
}
@media (orientation: portrait) or (max-width: 999px) {
  .button-bar > .resetButton::after {
    content: 'Reset';
  }
  #menu-toc .copyLinkBtn, #menu-bookmarks .copyLinkBtn {
    display: none;
  }
}
@media (orientation: portrait) and (max-width: 999px) {
  #menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  #menu-toc {
    max-width: unset !important;
  }
  #menu > #menu-toc, #menu > #menu-bookmarks {
    margin: 0 0 50px;
  }
}
@media (orientation: portrait) and (max-width: 600px) {
  .button-bar > input[type='range'] {
    flex-basis: 100%;
    order: 3;
  }
  .button-bar {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  .button-bar.slider-bar {
    justify-content: space-between;
    align-items: flex-start;
  }
}
#menu {
  width: 80vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 10px 10vw;
}
#menu button {
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;
}
#menu > div {
  margin: 0 10px 50px;
}
#menu h2 {
  text-align: center;
}
#menu-toc {
  flex: 0 0 auto;
  max-width: 50%;
}
#menu-bookmarks {
  flex-grow: 1;
  padding-right: 5px;
}
#menu ul {
  padding-left: 2em;
}
#menu #menu-toc > ul {
  padding-left: 0;
}
#menu li {
  margin-bottom: 3px;
}
#menu-toc li > span {
  display: flex;
  gap: 5px;
  align-items: center;
}
#menu-toc li > span > b {
  flex-grow: 1;
}
#menu-bookmarks button:nth-child(2) {
  margin-left: 5px;
}
.copyLinkBtn::after {
  content: 'Copy Link';
}
.copyLinkBtn.copied::after {
  content: 'Copied';
}
@media (orientation: landscape) or (min-width: 750px) {
  #fullscreenToggleDisabled {
    display: none;
  }
}
@media (orientation: portrait) and (max-width: 749px) {
  #fullscreenToggle {
    display: none;
  }
}
@media (orientation: landscape) and (min-width: 1000px) {
  #bookmarkBtn::after {
    content: 'Add to Highlights (H)';
  }
  #bookmarkBtn.bookmarked::after {
    content: 'Remove Highlight (H)';
  }
  #fullscreenToggle::after {
    content: 'Enter Fullscreen (F)';
  }
  #fullscreenToggle.btnActive::after {
    content: 'Exit Fullscreen (F)';
  }
  #autoToggle::after {
    content: 'Start Auto-play (P)';
  }
  #autoToggle.btnActive::after {
    content: 'Pause Auto-play (P)';
  }
  #editorToggle::after {
    content: "Show Editor's Notes (E)";
  }
  #editorToggle.btnActive::after {
    content: "Hide Editor's Notes (E)";
  }
}
@media (orientation: portrait) or (max-width: 999px) {
  #bookmarkBtn::after {
    content: 'Add to Highlights';
  }
  #bookmarkBtn.bookmarked::after {
    content: 'Remove Highlight';
  }
  #fullscreenToggle::after {
    content: 'Enter Fullscreen';
  }
  #fullscreenToggle.btnActive::after {
    content: 'Exit Fullscreen';
  }
  #autoToggle::after {
    content: 'Start Auto-play';
  }
  #autoToggle.btnActive::after {
    content: 'Pause Auto-play ';
  }
  #editorToggle::after {
    content: "Show Editor's Notes";
  }
  #editorToggle.btnActive::after {
    content: "Hide Editor's Notes";
  }
}