#vn-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}
#vn-header > * {
  text-align: center;
}
#vn-header-mid > * {
  margin: 7px 0;
}
main {
  display: flex;
  flex-direction: column-reverse;
}
#button-bar {
  width: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}
#button-bar > button:first-child {
  margin-left: 0.5em;
}
#button-bar > button {
  font-size: 1.25em;
  margin-right: 0.5em;
  opacity: 90%;
  filter: grayscale(1);
  padding: 1px 3px;
  font-family: "DejaVu Sans", sans-serif;
}
#button-bar > button:last-child {
  float: right;
  margin-left: auto;
  margin-right: 0.5em;
}
#copytext {
  display: none;
  font-size: 1.25em;
  padding: 0 10px;
  background: linear-gradient(to right, transparent, #f8efd4f0 9px, #f8efd4f0 calc(100% - 9px), transparent);
}
#copytext.visible {
  display: initial;
}
#menu {
  width: 80vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 10px 10vw;
}
#menu button {
  white-space: nowrap;
}
#menu > div {
  margin: 0 10px 50px;
}
#menu h2 {
  text-align: center;
}
#menu-toc {
  min-width: 30%;
}
#menu-bookmarks {
  flex-grow: 1;
  padding-right: 5px;
}
#menu ul {
  padding-left: 2em;
}
#menu #menu-toc > ul {
  padding-left: 0;
}
#menu li {
  margin-bottom: 3px;
}
#menu-toc li > span {
  display: flex;
  gap: 5px;
  align-items: center;
}
#menu-bookmarks button:first-child {
  margin-right: 5px;
}
#bookmarkBtn::after {
  content: '☆';
}
#bookmarkBtn.bookmarked::after {
  content: '★';
}