#vn-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}
#vn-header > * {
  text-align: center;
}
#vn-header-mid > * {
  margin: 7px 0;
}
main {
  display: flex;
  flex-direction: column-reverse;
}
#button-bar {
  width: 96%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  margin: 5px 2% 0;
  gap: 5px;
  font-size: 1.25em;
  flex-wrap: wrap;
}
#button-bar > * {
  font-size: 1em;
}
#fontInput {
  max-width: 750px;
  flex-grow: 1;
}
#menu {
  width: 80vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 10px 10vw;
}
#menu button {
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;
}
#menu > div {
  margin: 0 10px 50px;
}
#menu h2 {
  text-align: center;
}
#menu-toc {
  flex: 0 0 auto;
  max-width: 50%;
}
#menu-bookmarks {
  flex-grow: 1;
  padding-right: 5px;
}
#menu ul {
  padding-left: 2em;
}
#menu #menu-toc > ul {
  padding-left: 0;
}
#menu li {
  margin-bottom: 3px;
}
#menu-toc li > span {
  display: flex;
  gap: 5px;
  align-items: center;
}
#menu-toc li > span > b {
  flex-grow: 1;
}
#menu-bookmarks button:first-child {
  margin-right: 5px;
}
#bookmarkBtn::after {
  content: 'Add to Highlights';
}
#bookmarkBtn.bookmarked::after {
  content: 'Remove Highlight';
}
.copyLinkBtn::after {
  content: 'Copy Link';
}
.copyLinkBtn.copied::after {
  content: 'Copied';
}