#vn-header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5%;
}
#vn-header > * {
  text-align: center;
}
#vn-header-mid > * {
  margin: 7px 0;
}
#warning {
  font-size: 2em;
  display: none;
}
@media (orientation: portrait) {
  #warning {
    display: block;
  }
}
main {
  display: flex;
  flex-direction: column-reverse;
  --vwUnit: min(0.8vw, 1.6vh);
  --vhUnit: min(0.45vw, 0.9vh);
}
#app {
  border-radius: 12px;
  overflow: hidden;
}
.button-bar {
  width: 96%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  margin: 5px auto 0;
  gap: 5px;
  font-size: 1.25em;
  flex-wrap: wrap;
  max-width: 1000px;
}
#progress {
  align-self: center;
  width: calc(98 * var(--vwUnit));
}
.button-bar > * {
  font-size: 1em;
}
.button-bar > input[type='range'] {
  flex-grow: 1;
}
#menu {
  width: 80vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin: 10px 10vw;
}
#menu button {
  white-space: nowrap;
  padding-left: 3px;
  padding-right: 3px;
}
#menu > div {
  margin: 0 10px 50px;
}
#menu h2 {
  text-align: center;
}
#menu-toc {
  flex: 0 0 auto;
  max-width: 50%;
}
#menu-bookmarks {
  flex-grow: 1;
  padding-right: 5px;
}
#menu ul {
  padding-left: 2em;
}
#menu #menu-toc > ul {
  padding-left: 0;
}
#menu li {
  margin-bottom: 3px;
}
#menu-toc li > span {
  display: flex;
  gap: 5px;
  align-items: center;
}
#menu-toc li > span > b {
  flex-grow: 1;
}
#menu-bookmarks button:first-child {
  margin-right: 5px;
}
#bookmarkBtn::after {
  content: 'Add to Highlights (H)';
}
#bookmarkBtn.bookmarked::after {
  content: 'Remove Highlight (H)';
}
.copyLinkBtn::after {
  content: 'Copy Link';
}
.copyLinkBtn.copied::after {
  content: 'Copied';
}